@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

$font-pacifico: 'Pacifico', cursive;
$font-opensans: 'Open Sans', sans-serif;

$primary-font-family: $font-pacifico;
$secondary-font-family: $font-opensans;

$heading-font-color: mediumvioletred;
$primary-font-color: darkgray;
