@import 'screen';

.flex {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: baseline;

    & .col {
        width: 32%;
        padding: 20px;
    }
}

@media screen and (max-width: $small-size) {
    .flex {
        display: block;

        .col {
            width: 100%;
            margin: 0 0 10px 0;
        }
    }
}